extends layout

block content
  title.
    Chat Room

  script.
    var socket = io();
    var app = angular.module('chatApp', []);

    app.controller('chatCtrl', function($scope, $http, $rootScope){

      $scope.messages = [];
      $scope.users = [];
      
      //socket.io

      socket.on('user', function(user){
        $scope.users = user;
        $scope.$apply($scope.users);
      })

      socket.on('chat', function(message){
        $scope.messages = message;
        $scope.$apply($scope.messages);
        $rootScope.$broadcast('scroll');
      })

      $scope.first_load = function(){
        socket.emit('user', $scope.name_text);
        $http.get('http://localhost:3000/todos').success(function(raw_data){
          socket.emit('chat', raw_data);
        })
      }
      
      $scope.emit_msg = function(){
        var tmp_data = {name: $scope.name_text, completed: true, note: $scope.chat_text}
        $scope.messages.push(tmp_data);
        socket.emit('chat', $scope.messages);
        $http.post('http://localhost:3000/todos', tmp_data);
      }

    })
    
    app.directive('scrollBottom', ['$rootScope', function($rootScope){
      return {
        link: function (scope, element) {
          $rootScope.$on('scroll', function () {
            var domElement = element[0];
            domElement.scrollTop = domElement.scrollHeight;
          });
        }
      }
    }])

  body
    div(ng-app = "chatApp" ng-controller = "chatCtrl" ng-init = "flag=0; val1=123; val2=567; init();")
      div(ng-show = "!flag")
        h1 &nbsp;&nbsp;Chat Room
        blockquote
          h4 Enter your name：
          form(role = "form")
            div(class = "form-group")
              div(class = "col-xs-2")
                input(type = "text" class = "form-control" placeholder = "Name" ng-model = "name_text" style = "overflow:auto; width:200px;")
              div(class = "col-xs-3")
                button(type = "button" class = "btn btn-primary" ng-click = "flag=1; first_load();") START
      div(ng-show="flag")
        //-center
        h1 &nbsp;&nbsp;Hello {{name_text}}, Welcome to chat !
        blockquote
          form(class="form-inline" role="form")
            div(class = "form-control" scroll-bottom="" ng-model = "chat_display" style = "backgroud: white; overflow:auto; width:820px; height: 400px;")
              p(ng-repeat="chat in messages track by $index") <b>{{chat.name}} :</b> {{chat.note}}
            &nbsp;&nbsp;
            div(class = "form-control" ng-model = "user_display" style = "backgroud: white; overflow:auto; width:220px; height: 400px;")
              p(style= "color: orange; font-size: 20px;") <b>Online users</b>
              p(ng-repeat="user in users track by $index") <b>{{user}}</b>
          br
          form(class="form-inline" role="form")
            input(type = "text" class = "form-control" ng-model = "chat_text" style = "overflow:auto; width:820px;")
            &nbsp;&nbsp;
            button(type = "button" class = "btn btn-primary" ng-model = "chat_button" ng-click = "emit_msg(); chat_text='';") Send
