doctype html
html
  head
    script(src='/js/jquery-2.1.4.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-animate/angular-animate.min.js')
    script(src='/vendor/angular-aria/angular-aria.min.js')
    script(src='/vendor/angular-material/angular-material.min.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/vendor/angular-material/angular-material.min.css')
  body
    block content
